hr.style-one {
    border: 0;
    height: 1px;
    background: dodgerblue;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
    }

#profilepic{
    width: 135px;
    height: 135px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-pic-overlay{
    position: absolute;
    opacity: 1;
    margin-top: 100px;
    margin-left: -50px;
    color: #c3c3c3;
    background: white;
    transition: 0.5s ease;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    border: 2px solid #007bff;
}

.profile-pic-container{
    text-align: center;
    text-transform: uppercase;
}

.profile-pic-overlay:hover{
    cursor: pointer;
    color: dodgerblue;
}

.icon-background{
    color: white;
}

.text-danger {
    color: red;
}

.Password_input_button{
    margin: auto;
    background-color: #4885ed;
    outline: none;
    color: #fff;
    width: auto;
    height: auto;
}

.Password_input_button_opc{
    margin: auto;
    background-color: #4885ed !important;
    outline: none;
    color: #fff !important;
    width: auto;
    height: auto;
    opacity: 0.6;
}
.DelConfirm_button{
    margin: auto;
    background-color: #4885ed;
    outline: none;
    color: #fff;
    width: auto;
    height: auto;
}
.DelConfirm_button_opc{
    margin: auto;
    background-color: #4885ed !important;
    outline: none;
    color: #fff !important;
    width: auto;
    height: auto;
    opacity: 0.6;   
}

.example-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  /* progress circle css */


.pure-material-progress-circular {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    padding: 0.25em;
    width: 3em;
    height: 3em;
    color: #FF7E00;
    background-color: transparent;
    font-size: 16px;
    overflow: hidden;
}

.pure-material-progress-circular::-webkit-progress-bar {
    background-color: transparent;
}

/* / Indeterminate / */
.pure-material-progress-circular:indeterminate {
    -webkit-mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    animation: pure-material-progress-circular 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
}

:-ms-lang(x), .pure-material-progress-circular:indeterminate {
    animation: none;
}

.pure-material-progress-circular:indeterminate::before,
.pure-material-progress-circular:indeterminate::-webkit-progress-value {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-bottom: 0.25em;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    width: 100% !important;
    height: 100%;
    background-color: transparent;
    animation: pure-material-progress-circular-pseudo 0.75s infinite linear alternate;
}

.pure-material-progress-circular:indeterminate::-moz-progress-bar {
    box-sizing: border-box;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    animation: pure-material-progress-circular-pseudo 0.75s infinite linear alternate;
}

.pure-material-progress-circular:indeterminate::-ms-fill {
    animation-name: -ms-ring;
}

@keyframes pure-material-progress-circular {
    0% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(180deg);
        animation-timing-function: linear;
    }
    25% {
        transform: rotate(630deg);
    }
    37.5% {
        transform: rotate(810deg);
        animation-timing-function: linear;
    }
    50% {
        transform: rotate(1260deg);
    }
    62.5% {
        transform: rotate(1440deg);
        animation-timing-function: linear;
    }
    75% {
        transform: rotate(1890deg);
    }
    87.5% {
        transform: rotate(2070deg);
        animation-timing-function: linear;
    }
    100% {
        transform: rotate(2520deg);
    }
}

@keyframes pure-material-progress-circular-pseudo {
    0% {
        transform: rotate(-30deg);
    }
    29.4% {
        border-left-color: transparent;
    }
    29.41% {
        border-left-color: currentColor;
    }
    64.7% {
        border-bottom-color: transparent;
    }
    64.71% {
        border-bottom-color: currentColor;
    }
    100% {
        border-left-color: currentColor;
        border-bottom-color: currentColor;
        transform: rotate(225deg);
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

@media only screen and (min-width:990px) and (max-width:1300px) {
    #profilepic{
        width: 122px;
        height: 122px;
    }
    .profile-pic-overlay{
        margin-top: 87px;
    }
}