
 .li_pos {    
    /* content: "•";
     color: #16b1ee;    
     font-size: 40px;*/
     position: relative;
     top: -4px;
     left: 21px;
     list-style: none;
     margin-bottom: 24px;
   }
   .dot {
    height: 12px;
    width: 12px;
    background-color: #0089ff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -30px;
    top: 7px;
  }
   .title_color{
    color:#4885ed;
    font-size: 14px;
    font-weight: bold;
  }
   .li_color{
     
     font-size: 13px;
     font-weight: bold;
   }
   .li_activity_color{
     color: #6c757d;
     font-size: 13px;
     font-weight: bold;
   }
   .li_activity_location_color{
    color: rgba(0,0,0,.54);
    font-size: 14px;
    font-weight: bold;
    float: right;
    margin-right: 40px;
    margin-top: -69px;   
   }
   .ui_scroll{
       overflow-y: visible; overflow-y: scroll; max-height:486px;  min-height: 350px;  overflow-x: hidden; margin-top: 0px;
   }
   .left_border{
       border-left: 6px solid #d7d7d7; margin-top: 20px; border-radius: 3px;margin-left: 8px;
   }

   ::-webkit-scrollbar {
     width: 7px;
   }



/* Handle */
::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px;
   border-radius: 20px;
   background: #d7d7d7; 
   /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */

}

@media only screen and (min-width : 768px) and (max-width : 1045px){

      .li_activity_location_color{
      color: rgba(0,0,0,.54);
      font-size: 14px;
      font-weight: bold;
      float: left; 
      margin-right: 0px;
      margin-top: 0px;
      }

}