.bg-container{
    /* background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url(../../resources/hero.jpg); */
    background-size: cover;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: white;
}

.forgetPassword-container{
  max-width: 400px !important;
}

html,body, app-login{
  height: 100%;
}

.input-group-text{
  border-radius: 20px;
  background-color: #007bff;
  border: none;
  transition: background-color 0.3s;
}

.form-control-md{
height: 45px;
}

.input-group-text:hover{
  background-color: #179d9f;
}

.input-group-text .fas{
  color: #d5d5d5;
}

.input-group{
  margin: 15px 0;

}

button{
  width: 100%;
  border-radius: 20px;
  margin-top: 10px;
  height: 45px;
  border: none;
  transition: background-color 0.3s;
}

button:hover{
  background-color: #179d9f;
}

.login-logo{
  margin: 0 auto;
  background-image: url(../../resources/logo.png);
  width: 110px;
  height: 110px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  transition: 0.7s;
}

/* .login-logo:hover{
  transform: rotate(90deg);
} */

.div-options{
  padding: 0 10px;
}

@media only screen and (max-width: 500px) {
  .login-container{
    max-width: 95% !important;
  }
}

.bg-image {
  background-image: url(../../resources/banner.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1012px;
  height: 780px;
}

.login, .image {
  min-height: 100vh
}

.container {
  margin-top: 80px;
}

span.form-title {
  font-size: 20px;
  color: #212529
}