/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: none;
}

input{
  outline: none !important;
}

.mat-form-field{
  margin-bottom: 0.6em;
}

.bg-c{
  background-color: #4885ed;
  color: white;
  outline: none !important;
}
/* ::ng-deep .space.mat-form-field-appearance-outline .mat-form-field-wrapper{
    margin-bottom: 0px;
    padding-bottom: 0px;
} */