.teleconsult-main-container {
    margin-left: 72px;
    margin-top: 80px;
    padding: 28px 24px;
    min-height: 540px;
}

.teleconsult-main-container h2 {
    font-weight: 500;
    letter-spacing: 1px;
    white-space: nowrap;
}

@media (max-width: 500px) {
    .teleconsult-main-container {
        margin-left: 1px;
        margin-top: 0px;
        padding: 28px 24px;
    }
}

/* width */
*::-webkit-scrollbar {
  width: 15px;
}

/* Track */
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px gray !important; 
  border-radius: 15px;
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgb(40, 149, 240) !important;
  border-radius: 15px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: rgb(28, 67, 95) !important; 
}

.doctor-card {
    overflow: hidden;
} 

.consult-details {
    overflow-x: hidden;
    overflow-y: auto;
}

.loading-screen {
    color: rgb(40, 149, 240);
    text-align: center;
    font-size: 3em;
    position: relative;
    margin-top: 50px;
}

mat-card {
    height: auto;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09) !important;
    transition: 0.2s;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    border: 1px soild #CD2D4F;
    background-color: #fff;
    margin-bottom: 15px;
}

mat-card-title {
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(40, 149, 240);
}

table,
tr,
th,
td {
    padding: 10px;
    font-size: 1em;
    /* margin: auto; */
}

.doctor-info {
    text-align: center !important;
    color: rgb(40, 149, 240) !important;
}

button {
    cursor: pointer !important;
    outline: none;
    border: none;
    color: #fff;
    background-color: rgb(40, 149, 240);
    border-radius: 10px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09) !important;
}

.horizontal-rule {
    border-top: 1px solid #dcdcdc;
    margin-top: 18px;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
}

.teleconsult_triangle_topleft {
    width: 0;
    height: 0;
    color: #fff;
    position: absolute;
    border-top: 115px solid #2CB039;
    border-right: 105px solid transparent;
}

.teleconsult_availability {
    margin-top: -100px;
    padding-left: 8px;
    font-size: 0.9rem;
}

.teleconsult_profile_menu_icon {
    float: right;
    color: grey;
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: -140px;
}

@media screen and (min-width:351px) {
    .teleconsult_doctor_name {
        text-align: center;
        font-size: 1.05rem;
    }
}

.teleconsult_doctor_experience {
    text-align: center;
    color: dimgrey;
    font-size: 14px;
}

.teleconsult_doctor_speciality {
    justify-content: center;
    width: 70%;
    margin: auto;
}

.teleconsult_doctor_specialist_list {
    text-align: center;
    padding: 3px 10px 3px 10px;
    border-radius: 14px;
    color: #2d3238bd;
    background-color: #e9ecef;
    font-weight: bold;
    font-size: 12px;
    margin: 4px;
    width: fit-content;
}

.teleconsult_doctor_language {
    justify-content: center;
    width: 72%;
    margin: auto;
}

.teleconsult_doctor_language_list {
    text-align: center;
    padding: 3px 10px 3px 10px;
    border-radius: 14px;
    color: #fff;
    background-color: #2895F0;
    font-weight: bold;
    font-size: 12px;
    margin: 4px;
    width: fit-content;
}

.teleconsult_doctor_fees {
    text-align: center;
    color: dimgrey;
    font-size: 14px;
}

.star_unchecked {
    text-align: center;
    color: #80808073;
}

.star_checked {
    color: #2895F0;
}

.teleconsult_instruct_scroll {
    overflow-y: scroll;
    min-height: 100px;
    word-wrap: break-word;
    overflow-x: hidden;
    margin-top: 0px;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 20px;
    background: #d7d7d7;
}

.teleconsult_instruct {
    padding-left: 12px;
    color: rgba(0, 0, 0, 0.73);
    padding-right: 10px;
    font-size: 15px;
    text-align: left;
}

.consult-info> {
    text-align: left !important;
    color: #000 !important;
}

.teleconsult_details_scroll {
    overflow-y: scroll;
    min-height: 200px;
    overflow-x: hidden;
    word-wrap: break-word;
    margin-top: 0px;
}

.teleconsult_special_scroll {
    overflow-y: scroll;
    padding: 10px;
    min-height: 130px;
    overflow-x: hidden;
    word-wrap: break-word;
    margin-top: 0px;
}

@media screen and (max-width: 320px) and (min-width:0px) {
    .wrapper {
        text-align: center;
        padding: 0px;
        white-space: nowrap;
        margin-top: 30px;
    }
}

@media screen and (max-width: 350px) and (min-width:321px) {
    .wrapper {
        text-align: center;
        padding: 0px;
        white-space: nowrap;
        margin-top: 30px;
    }
}

@media screen and (max-width: 370px) and (min-width:351px) {
    .wrapper {
        text-align: center;
        padding: 0px;
        white-space: nowrap;
        margin-top: 30px;
    }
}

@media screen and (max-width: 390px) and (min-width:371px) {
    .wrapper {
        text-align: center;
        padding: 0px;
        white-space: nowrap;
        margin-top: 30px;
    }
}

@media screen and (max-width: 400px) and (min-width:391px) {
    .wrapper {
        text-align: center;
        padding: 0px;
        white-space: nowrap;
        margin-top: 30px;
    }
}

@media screen and (max-width: 767px) and (min-width:401px) {
    .wrapper {
        text-align: center;
        padding: 0px;
        white-space: nowrap;
        margin-top: 30px;
    }
}

@media screen and (max-width: 840px) and (min-width:768px) {
    .wrapper {
        text-align: center;
        padding: 0px;
        white-space: nowrap;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1300px) {
    mat-card {
        height: 385px !important;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .doctor-card,
    .consult-details {
        height: 375px;
    }
}

@media only screen and (max-width: 1299px) and (min-width: 992px) {
    mat-card {
        height: 370px;
    }
}

@media only screen and (min-width: 768px) {
    .teleconsult_instruct_scroll {
        max-height: 110px;
    }
    .teleconsult_details_scroll {
        max-height: 290px;
    }
    .teleconsult_special_scroll {
        max-height: 130px;
    }
}

@media only screen and (min-width: 992px) {
    .teleconsult_special_scroll {
        min-height: 120px;
    }
}

@media only screen and (min-width: 1440px) {
    .teleconsult_instruct_scroll {
        max-height: 160px;
    }
    .teleconsult_details_scroll {
        max-height: 300px;
    }
    .teleconsult_special_scroll {
        max-height: 150px;
    }
}

@media screen and (max-width: 991px) and (min-width:841px) {
    .wrapper {
        text-align: center;
        padding: 0px;
        white-space: nowrap;
        margin-top: 30px;
    }
}

@media screen and (max-width: 1050px) and (min-width:992px) {
    .wrapper {
        text-align: center;
        padding: 0px;
        white-space: nowrap;
        margin-top: 30px;
    }
}

@media screen and (max-width: 1100px) and (min-width:1051px) {
    .wrapper {
        text-align: center;
        padding: 0px;
        white-space: nowrap;
        margin-top: 30px;
    }
}

@media screen and (max-width: 1189px) and (min-width:1101px) {
    .wrapper {
        text-align: center;
        padding: 0px;
        white-space: nowrap;
        margin-top: 30px;
    }
}

@media screen and (min-width:1190px) {
    .wrapper {
        text-align: center;
        padding: 0px;
        white-space: nowrap;
        margin-top: 30px;
    }
}

#print-content {
    display: none;
}

@media print {
    #not-print {
        display: none;
    }
    app-side-navigation-bar,
    app-sidebar,
    app-headbar,
    app-footer {
        display: none;
    }
    #print-content {
        display: block;
        /*-webkit-print-color-adjust: exact;*/
        font-size: 25px !important;
        /*font-weight:700 !important;*/
        font-family: sans-serif !important;
    }

    td {
        padding: 5px;
        width: 33.33%;
    }
    .tr-header {
        font-weight: bold;
    }
    th {
        text-align: left;
    }
}

.teleconsult-main-container{
    margin-left: 72px;
    margin-top: 80px;
    padding: 28px 24px;
    min-height: 540px;
}

tr, th, td {
    padding: 5px;
}

.teleconsult-main-container h2{
    font-weight: 500;
    letter-spacing: 1px;
    white-space: nowrap;
}

@media (max-width: 500px){
    .teleconsult-main-container{
        margin-left: 1px;
        margin-top: 0px;
        padding: 28px 24px;
    }
}

.teleconsult_card{
    font-family: 'Quicksand', sans-serif;
    padding: 5px 12px;
    background: #fff;
    color: #4885ed;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    transition: 0.2s;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 15px;
}


.teleconsult_types_name{
    margin-top: 2%;
    margin-bottom: 3%;
}

.teleconsult_doctor_list_common_header {
    padding-top: 12px;
    padding-left: 12px;
    font-size: 1.04rem;
}

.cardLable{
    font-size: 14px; 
    color: black;
    /* color:rgba(0, 0, 0, 0.73) */
}

.cardInputValue{
    color: black; text-transform: capitalize;font-size: 14px;font-weight: 5004;
    /* color:rgba(0, 0, 0, 0.73); */
}
.consulantCard{
    border-collapse:separate !important; 
    border-spacing: 5px !important;
    width: 100%;
}
.reasonForVisitCard{
    height: 135px;
}

.reasonForVisitCardTxt{
    /* color: rgba(0, 0, 0, 0.73);  */
    color: black;
    font-weight: 500;
}


.teleconsult_details_scroll{
    overflow-y: scroll;
    max-height: 190px;
    min-height: 225px;
    overflow-x: hidden;
    margin-top: 0px;
    /* color: rgba(0, 0, 0, 0.73);  */
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.teleconsult_prescription_scroll{
    overflow-y: scroll;
    max-height: 190px;
    min-height: 204px;
    overflow-x: hidden;
    margin-top: 0px;
    color: rgba(0, 0, 0, 0.73); 
    font-size: 14px;
}

*::-webkit-scrollbar {
    width: 5px;
  }

*::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 20px;
  background: #d7d7d7;  
}

*{
    scrollbar-width: thin;
    scrollbar-color:  #d7d7d7 transparent;
}